<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
 
 
  <ion-img src='./../../assets/intro/a.png'></ion-img><br>
  <h4>      En esta sección encontrarás videos explicando los distintos temas 
    para saber más sobre la educación ambiental.
  </h4>
  
  <ion-img src='./../../assets/intro/libro.png'  style="width:25%" alt="2"></ion-img>

  <h4>       Consiste en 3 módulos.
  </h4>
  <h1 > ¡Adelante!</h1><br>
  <ion-img src='./../../assets/intro/tortuee.jpeg'  style="width:70%" alt="3"></ion-img><br>
  
  <div class="centrar-boton-ionic">
    <ion-button class="button button-block button-positive" color="success" style="width:200px;" [routerLink]="'/spanish'" [routerLinkActive]="'active'">
     
        Módulo 1
    </ion-button>
</div><br>
 
<ion-img src='./../../assets/intro/pezz.jpeg'  style="width:70%" alt="3"></ion-img><br>
  
  <div class="centrar-boton-ionic">
    <ion-button class="button button-block button-positive" color="success" style="width:200px;" [routerLink]="'/espanol'" [routerLinkActive]="'active'">
     
        Módulo 2
    </ion-button>
</div><br>

<ion-img src='./../../assets/intro/flami.jpeg'  style="width:70%" alt="3"></ion-img><br>
  
  <div class="centrar-boton-ionic">
    <ion-button class="button button-block button-positive" color="success" style="width:200px;" [routerLink]="'/ciencia'" [routerLinkActive]="'active'">
     
        Módulo 3
    </ion-button>
</div><br>





<p> Amoxtlic</p>

</ion-content>
