<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Módulo 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img src='./../../assets/intro/a.png'></ion-img>
  <br>
  <h1><ion-text color="success"><ion-icon name="bowling-ball"></ion-icon></ion-text>Procesos de la educación ambiental.</h1>
  <br>
  <video class="fp_docs_player" id="fp_docs_player_0" controls style="width: 100%; height: 25%;">
  <source src='assets/video/organizador.mp4' type="video/mp4" title="1080p">
  </video><br>

  <div class="selected_option">
    <ion-item>
      <ion-label>
      El proceso ambiental tiene 4 pasos.
      </ion-label>
      <ion-select placeholder="selecciona"
        [(ngModel)]="selected_option">
        <ion-select-option value="Correcto.">
                Verdadero
        </ion-select-option>
        <ion-select-option value="Incorrecto ">
                Falso
        </ion-select-option>
        
      </ion-select>
    </ion-item>
   
    <ion-item>
      <ion-label>
      Es la parte del proceso en la que piensas cómo estás llevando tu estilo de vida y cómo se relaciona con el cuidado al medio ambiente.
      </ion-label>
      <ion-select placeholder="selecciona"
        [(ngModel)]="selected_option">
        <ion-select-option value="Correcto">
                Reflexión
        </ion-select-option>
        <ion-select-option value="Incorrecto, intenta de nuevo">
               Sensibilización
        </ion-select-option>
        <ion-select-option value="Incorrecto, vamos otra vez">
               Concientización
   </ion-select-option>
      </ion-select>
    </ion-item>
  

    
  
  
  
    
   
    {{selected_option}}
  
  
  </div>
  
  <div class="centrar-boton-ionic">
  <ion-button color="success" [routerLink]="'/ciencia'" [routerLinkActive]="'active'">Regresar</ion-button><br>
 
</div>
  <p> Amoxtlic</p>

</ion-content>
