<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tu proyecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "background">
 
  <ion-img src='./../../assets/intro/a.png'></ion-img><br>
  <h4>      Haz el cambio. Creando un proyecto ambiental en tu comunidad.
  </h4>
  
  <ion-img src='./../../assets/intro/libro.png'  style="width:25%" alt="2"></ion-img>

  <h4> Sigue los pasos de los videos. ¡Es necesario crear tu proyecto para poder obtener el certificado!
  </h4>
  <h1 > ¡Empecemos!</h1><br>
  <ion-img src='./../../assets/intro/pez.jpeg'  style="width:70%" alt="3"></ion-img><br>
  
  <div class="centrar-boton-ionic">
    <ion-button class="button button-block button-positive" color="success" style="width:200px;" [routerLink]="'/civic'" [routerLinkActive]="'active'">
     
      Piensa
    </ion-button>
</div><br>
<ion-img src='./../../assets/intro/tija.jpeg'  style="width:70%" alt="3"></ion-img><br>
<div class="centrar-boton-ionic">
  <ion-button class="button button-block button-positive" color="success" style="width:200px;" [routerLink]="'/ethics'" [routerLinkActive]="'active'">
   
    Diseña
  </ion-button>
</div><br>
<ion-img src='./../../assets/intro/cam.jpeg'  style="width:70%" alt="3"></ion-img><br>
<div class="centrar-boton-ionic">
  <ion-button class="button button-block button-positive" color="success" style="width:200px;" [routerLink]="'/english'" [routerLinkActive]="'active'">
   
    Crea
  </ion-button>
</div><br>











<p> Amoxtlic</p>
</ion-content>
