<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cuidemos al medio ambiente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <h1> ¡Conoce cómo! </h1> 
 


  <ion-card>
    <img  src='./../../assets/intro/color.jpeg' />
    <ion-card-header>
      <ion-card-title>Reducir, reciclar y reutilizar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Minimiza la cantidad de residuos que generas y conservas los recursos naturales.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img  src='./../../assets/intro/agua.jpeg' />
    <ion-card-header>
      <ion-card-title>Ahorrar agua</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Usa el agua con moderación y adopta prácticas para reducir el consumo, como reparar fugas y utilizar tecnologías de ahorro de agua.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img  src='./../../assets/intro/luz.jpeg' />
    <ion-card-header>
      <ion-card-title>Energía eficiente</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Fuentes de energía renovables. Reduce el consumo de energía utilizando equipos eficientes y apagando luces y dispositivos cuando no estén en uso.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src='./../../assets/intro/trans.jpeg' />
    <ion-card-header>
      <ion-card-title>Transporte sostenible</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Camina, anda en bicicleta o usa el transporte público para reducir las emisiones de carbono.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src='./../../assets/intro/tomat.jpeg' />
    <ion-card-header>
      <ion-card-title>Consumo responsable</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Elige productos locales y de temporada para reducir la huella de carbono asociada con el transporte y la prodcucción. Prioriza productos con empaques mínimos y biodegradables.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src='./../../assets/intro/posa.jpeg' />
    <ion-card-header>
      <ion-card-title>Conservación de la biodiversidad</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Apoya a la protección de los hábitats naturales y la conservación de especies en peligro de extinción. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src='./../../assets/intro/educ.jpeg' />
    <ion-card-header>
      <ion-card-title>Educación y conciencia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Aprende sobre problemas ambientales y comparte ese conocimiento con otros. Participa en actividades comunitarias que promuevan la sostenibilidad ambiental.
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img  src='./../../assets/intro/caracol.jpeg' />
    <ion-card-header>
      <ion-card-title>Respeto por los ecosistemas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    No perturbes los ecosistemas naturales y respeta los ciclos naturales de la vida silvestre y las plantas. 
    </ion-card-content>
  </ion-card>



<ion-card>
    <img  src='./../../assets/intro/quimi.jpeg' />
    <ion-card-header>
      <ion-card-title>Reducción de productos químicos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Minimiza el uso de productos químicos, tóxicos y contaminantes. Opta por alternativas naturales y seguras cuando sea posible.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src='./../../assets/intro/part.jpeg' />
    <ion-card-header>
      <ion-card-title>Participación activa</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Únete a organizaciones ambientales locales, nacionales o globales que promuevan la sostenibilidad y la protección del medio ambiente.
    </ion-card-content>
  </ion-card>



  

  <p> Amoxtlic</p>


</ion-content>
