<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Módulo 2</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content padding>
  <ion-img src='./../../assets/intro/a.png'></ion-img>
  <br>
  <h1><ion-text color="success"><ion-icon name="bowling-ball"></ion-icon></ion-text>Gases de efecto invernadero</h1>
  <br>
  <video class="fp_docs_player" id="fp_docs_player_0" controls style="width: 100%; height: 25%;">
  <source src='assets/video/Extranjerismos.mp4' type="video/mp4" title="1080p">
  </video><br>

  <div class="selected_option">
    <ion-item>
      <ion-label>
      ¿Cuál de los siguientes es un gas de efecto invernadero?
      </ion-label>
      <ion-select placeholder="selecciona"
        [(ngModel)]="selected_option">
        <ion-select-option value="Correcto, muy bien">
                Dióxido de carbono
        </ion-select-option>
        <ion-select-option value="Incorrecto, intenta de nuevo ">
                Oxígeno
        </ion-select-option>
        <ion-select-option value="Incorrecto, otra vez intenta">
          Nitrógeno
  </ion-select-option>
        
      </ion-select>
    </ion-item>
   
    <ion-item>
      <ion-label>
      ¿Cuál es la principal fuente de emisión de gases de efecto invernadero debido a actividades humanas?
      </ion-label>
      <ion-select placeholder="selecciona"
        [(ngModel)]="selected_option">
        <ion-select-option value="Incorrecto.  ">
                Deforestación
        </ion-select-option>
        <ion-select-option value="Incorrecto, aunque también genera mucha contaminación ">
               Fabricación de plásticos
        </ion-select-option>
        <ion-select-option value="Correcto.">
          Quema de combustibles fósiles 
   </ion-select-option>
      </ion-select>
    </ion-item>
  

  
  
  
  
    
   
    {{selected_option}}
  
  
  </div>
  
  <div class="centrar-boton-ionic">
  <ion-button color="success" [routerLink]="'/espanol'" [routerLinkActive]="'active'">Regresar</ion-button><br>
  
</div>
  <p> Amoxtlic</p>
 
</ion-content>
