<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ciencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-img src='./../../assets/intro/a.png'></ion-img><br>

  <h1>¡Da click sobre el tema que te gustaría repasar!</h1>

  <div class="left-boton-ionic">
  <ion-button color="light" [routerLink]="'/energia'" [routerLinkActive]="'active'">Energía</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/estados'" [routerLinkActive]="'active'">Estados de la materia</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/tierra'" [routerLinkActive]="'active'">Planeta Tierra</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/deterioro'" [routerLinkActive]="'active'">Deterioro ambiental</ion-button><br><br>
</div>

<div class="left-boton-ionic">
  <ion-button color="light" [routerLink]="'/comp'" [routerLinkActive]="'active'">Componentes de la naturaleza</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/claseres'" [routerLinkActive]="'active'">Clasificación de los seres vivos</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/carob'" [routerLinkActive]="'active'">Características de los objetos</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/cares'" [routerLinkActive]="'active'">Características de la vida</ion-button><br><br>
</div>


<div class="left-boton-ionic">
  <ion-button color="light" [routerLink]="'/mex'" [routerLinkActive]="'active'">República mexicana </ion-button><br><br>
  <ion-button color="light" [routerLink]="'/mut'" [routerLinkActive]="'active'">Mutualismo</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/dieta'" [routerLinkActive]="'active'">Dietas de los animales</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/univ'" [routerLinkActive]="'active'">Universo</ion-button><br><br>
</div>


<div class="left-boton-ionic">
  <ion-button color="light" [routerLink]="'/ecos'" [routerLinkActive]="'active'">Ecosistemas </ion-button><br><br>
  <ion-button color="light" [routerLink]="'/actua'" [routerLinkActive]="'active'">Actuar ante desastres naturales</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/desastre'" [routerLinkActive]="'active'">Desastres naturales</ion-button><br><br>
</div>

<div class="left-boton-ionic">
  <ion-button color="light" [routerLink]="'/eras'" [routerLinkActive]="'active'">Eras geológicas </ion-button><br><br>
  <ion-button color="light" [routerLink]="'/evolucion'" [routerLinkActive]="'active'">Evolución del ser humano</ion-button><br><br>
  
  <ion-button color="light" [routerLink]="'/simbolos'" [routerLinkActive]="'active'">Símbolos patrios</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/tlc'" [routerLinkActive]="'active'">TLC</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/sistemahumano'" [routerLinkActive]="'active'">Sistema humano</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/leyes'" [routerLinkActive]="'active'">Función de leyes</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/funcionesgob'" [routerLinkActive]="'active'">Función del gobierno...</ion-button><br><br>
 
  <ion-button color="light" [routerLink]="'/culturapaz'" [routerLinkActive]="'active'">Cultura de paz</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/metodocien'" [routerLinkActive]="'active'">Método científico</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/calidadvida'" [routerLinkActive]="'active'">Calidad de vida</ion-button><br><br>
 
  <ion-button color="light" [routerLink]="'/embarazo'" [routerLinkActive]="'active'">Embarazo y enfermedades </ion-button><br><br>
  <ion-button color="light" [routerLink]="'/mexicocinco'" [routerLinkActive]="'active'">México y su historia I</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/mexicosesenta'" [routerLinkActive]="'active'">México y su historia II</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/globalizacion'" [routerLinkActive]="'active'">Globalización</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/participacion'" [routerLinkActive]="'active'">Participación del gobierno </ion-button><br><br>
</div>



  <p> Amoxtlic</p>
  
  
</ion-content>
