<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Módulo 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src='./../../assets/intro/a.png'></ion-img>
  <br>
  <h1><ion-text color="success"><ion-icon name="bowling-ball"></ion-icon></ion-text>¿Cómo involucrar a más personas a la acción climática?</h1>
  <br>
  <video class="fp_docs_player" id="fp_docs_player_0" controls style="width: 100%; height: 25%;">
  <source src='assets/video/FichasDeInfo.mp4' type="video/mp4" title="1080p">
  </video><br>

  
  
  <div class="centrar-boton-ionic">
  <ion-button color="success" [routerLink]="'/spanish'" [routerLinkActive]="'active'">Regresar</ion-button><br>
  
</div>
  <p> Amoxtlic</p>
 
</ion-content>
