<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Muro de la fama</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-img src='./../../assets/intro/a.png'></ion-img>
  <h5> "Nunca es tarde para aprender"  </h5><br>
  
  <div class="centrar-boton-ionic">
    <ion-button class="button button-block button-positive" color="success" style="width:200px;" href="https://www.amoxtlic.com/" [routerLinkActive]="'active'">
     
   Crea el cambio
    </ion-button>
</div><br>

  <h4> Amoxtlic nació como una idea para dar más oportunidades. Y se empieza por la educación, ¿qué mejor que impulsarla y apoyarla?
  </h4> 
 

  <h2> ¡Conoce al equipo! 
  </h2> 
  
  <h3> Milca Palomino  </h3> 
  <h5> Fundadora de Amoxtlic </h5> 
  <ion-img src='./../../assets/intro/milca.jpeg' style="width:50%" alt="2"></ion-img>
 
  <ion-img src='./../assets/intro/birr.png' style="width:15%" > </ion-img>
  
  <h3> Valentina Gómez </h3> 
  <h5> Directora de planeación </h5> 
  <ion-img src='./../../assets/intro/val.jpeg' style="width:50%" alt="2"></ion-img>
 
  <ion-img src='./../assets/intro/birr.png' style="width:15%" > </ion-img>

  <h3> Emil Winkler </h3> 
  <h5> Director de planeación </h5> 
  <ion-img src='./../../assets/intro/emil.jpeg' style="width:50%" alt="2"></ion-img>
 
  <ion-img src='./../assets/intro/birr.png' style="width:15%" > </ion-img>
  
  <h3> Frida Uribe </h3> 
  <h5> Directora de difusión </h5> 
  <ion-img src='./../../assets/intro/frida.jpeg' style="width:50%" alt="2"></ion-img>
 
  <ion-img src='./../assets/intro/birr.png' style="width:15%" > </ion-img>

  <h3> Dulce Martínez </h3> 
  <h5> Directora de difusión </h5> 
  <ion-img src='./../../assets/intro/dulce.jpeg' style="width:50%" alt="2"></ion-img>
 
  <ion-img src='./../assets/intro/birr.png' style="width:15%" > </ion-img>

  <h3> SMAOT </h3> 
  <h5> Un agradecimiento especial a SMAOT por su colaboración </h5> 
  <ion-img src='./../../assets/intro/logosmaot.png' style="width:50%" alt="2"></ion-img>
 
  

  <h2> Donadores del conocimiento </h2> 
  <h4> Gracias por el apoyo
  </h4> 
  <ion-img src='./../../assets/intro/v.png'   alt="2"></ion-img>
  <ion-img src='./../../assets/intro/vo.png'   alt="2"></ion-img>
  
  <p> Amoxtlic</p>

</ion-content>
