<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tu viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "background">
  <ion-img src='./../../assets/intro/a.png'></ion-img>
  <h5> "Nunca es tarde para aprender"  </h5>
  <br>


  <ion-img src='./../../assets/intro/viaje2.png'  style="width:70%" alt="3"></ion-img>
  <h4>      Ingresa a las clases
  </h4>

  <div class="centrar-boton-ionic">
    <ion-button class="button button-block button-positive" color="success" style="width:200px;" [routerLink]="'/tutorial'" [routerLinkActive]="'active'">
     
    Comenzar
    </ion-button>
</div><br>



<ion-img src='./../../assets/intro/viaje3.png'  style="width:70%" alt="3"></ion-img>
<h4>      Ve los videos y contesta las preguntas
</h4>

<div class="centrar-boton-ionic">
  <ion-button class="button button-block button-positive" color="success" style="width:200px;" [routerLink]="'/tp'" [routerLinkActive]="'active'">
   
    Aquí
  </ion-button>
</div><br>
<br>
<ion-img src='./../../assets/intro/inspi.png'  style="width:70%" alt="3"></ion-img>
<h4>      ¡Más inspiración!
</h4>

<div class="centrar-boton-ionic">
  <ion-button class="button button-block button-positive" color="success" style="width:200px;" [routerLink]="'/rights'" [routerLinkActive]="'active'">
   
    Adelante
  </ion-button>
</div><br>
<br>

<ion-img src='./../../assets/intro/viaje4.png'  style="width:70%" alt="3"></ion-img>
<h4>      Empieza a crear tu proyecto de impacto
</h4>

<div class="centrar-boton-ionic">
  <ion-button class="button button-block button-positive" color="success" style="width:200px;" [routerLink]="'/prim'" [routerLinkActive]="'active'">
   
    Aquí
  </ion-button>
</div><br>
<br>

<ion-img src='./../../assets/intro/viaje5.png'  style="width:70%" alt="3"></ion-img>
<h4>     ¡Estás list@ para mandar tu proyecto!
</h4>

<div class="centrar-boton-ionic">
  <ion-button class="button button-block button-positive" color="success" style="width:200px;" href="https://forms.gle/VbXqvYsKk8ioMybEA" [routerLinkActive]="'active'">
   
    Aquí
  </ion-button>
</div><br>
<br>

<ion-img src='./../../assets/intro/viaje6.png'  style="width:70%" alt="3"></ion-img>
<h4>      ¿Tienes alguna duda?
</h4>

<div class="centrar-boton-ionic">
  <ion-button class="button button-block button-positive" color="success" style="width:200px;" href="https://www.amoxtlic.com/testimonios/" [routerLinkActive]="'active'">
   
    ¡Contáctanos!
  </ion-button>
</div><br>
<br>
  


      
<h3>          Milca Palomino Rodríguez </h3> 
<h5> Fundadora y Coordinadora de Amoxtlic </h5>
  
  <h4> C.e. milca020107@gmail.com</h4>  <Br>
 






          <p> Amoxtlic</p>
         

         
</ion-content>


