<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Módulo 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" background">
  
  <ion-img src='./../../assets/intro/ac.png'></ion-img><br>

 



  <div class="left-boton-ionic">
   
    <ion-button color="light" [routerLink]="'/textosin'" [routerLinkActive]="'active'">Educación ambiental</ion-button><br><br>
    <ion-button color="light" [routerLink]="'/tiempo'" [routerLinkActive]="'active'">Importancia de E.A. </ion-button><br><br>
    <ion-button color="light" [routerLink]="'/organizador'" [routerLinkActive]="'active'">Proceso de E.A.</ion-button><br><br>
    <ion-button color="light" [routerLink]="'/tipos-texto'" [routerLinkActive]="'active'">Impacto positivo</ion-button><br><br>
    <ion-button color="light" [routerLink]="'/concordagrama'" [routerLinkActive]="'active'">Alianzas para generar impacto</ion-button><br><br>
  </div>

<div class="left-boton-ionic">
  
  <ion-button color="light" [routerLink]="'/tlc'" [routerLinkActive]="'active'">Acciones en casa </ion-button><br><br>
  <ion-button color="light" [routerLink]="'/prim'" [routerLinkActive]="'active'">¡Termina tu proyecto!</ion-button><br><br>
 
</div>

<br><br><br>


  <p> Amoxtlic</p>

  
</ion-content>