<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Módulo 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-img src='./../../assets/intro/ac.png'></ion-img><br>



  <div class="left-boton-ionic">np
  <ion-button color="light" [routerLink]="'/tp'" [routerLinkActive]="'active'">Sé un agente de cambio</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/to'" [routerLinkActive]="'active'">Liderazgo juvenil</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/tv'" [routerLinkActive]="'active'">Características de liderazgo</ion-button><br><br>
  <!--ion-button color="light" [routerLink]="'/mc'" [routerLinkActive]="'active'">¿Cómo ser un líder?</ion-button><br--><br>
</div>

<div class="left-boton-ionic">
  <ion-button color="light" [routerLink]="'/sp'" [routerLinkActive]="'active'">Promover el liderazgo</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/s'" [routerLinkActive]="'active'">Educación ambiental</ion-button><br><br>
  <!--ion-button color="light" [routerLink]="'/fi'" [routerLinkActive]="'active'">Herramientas de E.A.</ion-button><br--><br>
  <!--ion-button color="light" [routerLink]="'/foi'" [routerLinkActive]="'active'">Acción climática</ion-button><br--><br>
</div>





  <p> Amoxtlic</p>
 
</ion-content>
