<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Módulo 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
 
  <ion-img src='./../../assets/intro/ac.png'></ion-img><br>



  
<div class="left-boton-ionic">
  <ion-button color="light" [routerLink]="'/cl'" [routerLinkActive]="'active'">Diferencia entre CC y CG</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/e'" [routerLinkActive]="'active'">Gases de efecto invernadero</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/i'" [routerLinkActive]="'active'">Efectos de CC y CG</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/pt'" [routerLinkActive]="'active'">Panorama ambiental en GTO</ion-button><br><br>
</div>

<div class="left-boton-ionic">
  <ion-button color="light" [routerLink]="'/ee'" [routerLinkActive]="'active'">Sequías e incendios</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/r'" [routerLinkActive]="'active'">Día del sobregiro</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/ap'" [routerLinkActive]="'active'">Calidad del aire en GTO</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/oh'" [routerLinkActive]="'active'">Gestión de residuos</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/ecos'" [routerLinkActive]="'active'">Acciones contra CC</ion-button><br><br>

</div>





  <p> Amoxtlic</p>

</ion-content>

