<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  
  <Br> <Br> 
    <Br> 
      
      
<Br> 
  <Br> 
    
    
  
    
  


    <ion-img src='./../../assets/intro/birr.png' style="width: 35%;"  alt="2"></ion-img>
  <ion-list [inset]="true"  >

    <ion-item >
      
      <ion-textarea labelPlacement="stacked" label=" " placeholder="¿Cómo salvarías al medio ambiente?">
       
       
        <h1>Bienvenid@ </h1>
      </ion-textarea>
              
    </ion-item>
    
  </ion-list>


  



  <div class="centrar-boton-ionic">
    <ion-button class="button button-block button-positive" color="success" style="width:200px;" [routerLink]="'/contact'" [routerLinkActive]="'active'">
     
      Aprender
    </ion-button>
</div><br>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<p> Amoxtlic</p>
</ion-content>
